<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <ul>
  <li><a href="/#/shorten">Shorten</a></li>
  <li><a href="/#/links">Links</a></li>
  <li><a href="/#/signout">Signout</a></li>
  </ul>
  <form>
    <input ng-model='query'></input>
  </form>
  <ul ng-repeat="links in data.links | orderBy: '-visits' | filter: query">
    <li>
      <span class="visit">{{ links.visits }} visits</span>
      <div>{{ links.title }}</div>
      <div>
        <a href='{{links.base_url}}/api/links/{{ links.code }}'>localhost:3000/#/link/{{ links.code }}</a>
      </div>
    </li>
  </ul>
</div>
